.info-card {
    position: relative;
    width: 90%;
    margin-bottom: 16px;
    border: 1px solid #ddd;
    border-radius: 6px;
    overflow: hidden;
    transition: transform 0.2s ease;
}



.info-strip {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 9px;
}